<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.goods-mapper">
<resultMap type="CartVO" id="goodsCartMap">
 <result property="bno" column="bno"/>
 <result property="gno" column="gno"/>
 <result property="id" column="id"/>
 <result property="account" column="account"/>
 <result property="total_price" column="total_price"/>
 <result property="regdate" column="regdate"/>
 <result property="buy_ok" column="buy_ok"/>
 <result property="gvo.goods_poster" column="goods_poster"/>
 <result property="gvo.goods_name" column="goods_name"/>
 <result property="gvo.goods_price" column="goods_price"/>
</resultMap>
 <select id="goodCartListData" resultType="CartVO" parameterType="string">
 	SELECT bno,gno,id,account,total_price,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,
 	buy_ok,good_poster,goods_name,goods_price
 	FROM project_goods_buy pgb,goods_all ga
 	WHERE pgb.gno=ga.no
 	AND id=#{id}
 </select>
 <insert id="goodsCartInsert" parameterType="CartVO">
  INSERT INTO project_goods_buy VALUES(pgb_bno_seq.nextval,#{gno},#{id},#{account},#{total_price},'n',SYSDATE)
 </insert>
 <delete id="goodsCartDelete" parameterType="int">
 DELETE FROM project_goods_buy
 WHERE bno=#{bno}
 </delete>
</mapper>